# Example: Disabling machine learning features
# Useful to save resources when ML features are not needed
# Note: This disables face detection, object recognition, and smart search

# Disable machine learning
immich:
  machineLearning:
    enabled: false

persistence:
  library:
    storageClass: null # Change to your storage class unless you want to use you default provider
    size: 100Gi
  external:
    storageClass: null # Change to your storage class unless you want to use you default provider
    size: 50Gi

postgresql:
  global:
    postgresql:
      auth:
        password: CHANGE-ME-TO-A-SECURE-PASSWORD
  primary:
    persistence:
      storageClass: null # Change to your storage class unless you want to use you default provider
      size: 50Gi
